header {
    display: flex;
    height: 12rem;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 20px;
    margin-bottom: 5px;
    background-image: url("../img/garden1.jpg");
    background-position: center;
    background-size: cover;
}

body, html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-width: 900px;
    font-family: Arial, Helvetica, sans-serif;
}

/* cart */

.cart_container {
    min-width: 750px;
    height: auto;
    font-size: 1em;
    font-style: italic;
}

.order {
    width: 76%;
    min-width: 750px;
    margin: 50px auto 0 auto;
    padding: 2%;
    border-radius: 10px;
    background-color: green;
}

.order input[type='text'] {
    width: 28%;
    margin-left: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
    outline: none;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 6px;
}

.order input[type='submit'] {
    width: 25%;
    margin-left: 7%;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 14px;
    outline: none;
    border: none;
    background-color: rgb(255, 255, 103);
    border-radius: 6px;
    transition: background-color 0.5s;
}

.order input[type='submit']:hover {
    background-color: white;
}

.cart_container table {
    min-width: 750px;
    border-spacing: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 50px auto 0 auto;
    text-align: center;
}

.cart_container th {
    padding: 10px 20px;
    background: green;
    color: #ffffff;
    border-right: 2px solid;
    font-size: 1.2em;
}

.cart_container th:first-child {
    text-align: left;
}

.cart_container th:last-child {
    border-right: none;
}

.cart_container td {
    vertical-align: middle;
    padding: 10px;
    font-size: 1.1;
    text-align: center;
    border-top: 1px solid rgb(172, 172, 172);
    border-bottom: 1px solid rgb(172, 172, 172);
    border-right: 1px solid rgb(172, 172, 172);
}

.cart_container td:first-child {
    border-left: 1px solid rgb(172, 172, 172);
    border-right: 1px solid rgb(172, 172, 172);
}

.cart_container td:nth-child(2) {
    text-align: left;
}

.info_about_product input[type="number"] {
    width: 70px;
    padding: 10px;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    border: 1px solid grey;
}

.info_about_product input[type="submit"] {
    padding: 10px 15px 10px 15px;
    margin: 10px 0 10px 0;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid grey;
}

#change {
    padding: 20px;
    cursor: pointer;
    font-size: 1em;
    min-width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 103);
    border: none;
}

#form_change {
    width: 80%;
    margin: 0 auto 0 auto;
}
/*cart */

.notification {
    width: 77%;
    padding: 5px;
    color: rgb(0, 0, 0);
    margin: 0 auto 0 auto;
    text-align: center;
    font-size: 1.5rem;
}

.content {
    flex: 1 0 auto;
    margin: 0 0 30px 0;
    background-color: rgb(255, 255, 255);
}

.main-nav {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.main-nav li a {
    font-size: 1.2rem;
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    border-radius: 5px;
    padding: 0 20px 0 20px;
}

.main-nav li:not(:first-child) {
    margin-left: 20px;
}

.elements {
    width: 900px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    flex-basis: 120px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    text-align: center;
}

.btn__add {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.btn__add input[type="submit"] {
    width: 120px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

.btn__add input[type="text"] {
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

.category {
    width: 57rem;
    background-color: rgb(255, 255, 255);
    margin: 0 auto 5px auto;
    display: flex;
}

.category .category-nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.category .category-nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    display: block;
    background-color:rgb(55, 167, 55);
    font-size: 1.1rem;
}

.category .category-nav li {
    margin-left: 2.5rem;
    padding: 20px 0 20px 0;
}

.footer {
    flex-basis: 15%;
    flex-shrink: 0;
    padding: 20px;
    background-color: rgb(55, 167, 55);
}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
     body {
         min-width: 100%;
     }

    header {
        background-image: none;
        background-color: rgb(55, 167, 55);
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        height: 20%;
    }

    /*cart begin*/
    .cart_container {
        width: 100%;
    }

    .cart_container table {
        width: 100%;
    }
     /*cart end*/

    .category .category-nav li {
        margin-left: 0.5rem;
    }

    .category-nav {
        padding: 1%;
        align-items: flex-start;
        margin-left: 11%;
    }

    .main-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-nav li {
        margin-left: 20px;
        margin-bottom: 10%;
    }

    .main-nav li a {
        margin-left: 0%;
        font-size: 1.8rem;
    }

    .elements {
        flex-direction: column;
        width: 50%;
    }

    .category {
        width: 98%;
    }

    .item {
        width: 100%;
    }

    .footer {
        margin-top: 20%;
    }
}